<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="65163CalvinMacKenzie.MarkdownNotes" Version="1.0.0.2" Publisher="CN=045B7529-B6E9-4B42-929D-89026215DCFF" />
  <Properties>
    <DisplayName>#Markdown Notes</DisplayName>
    <PublisherDisplayName>Calvin MacKenzie</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="#Markdown Notes" Logo="images\hash_logo.png" SmallLogo="images\hash_small.png" Description="A note taking application that uses markdown to beautifully format your notes." ForegroundText="light" BackgroundColor="#646464">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\hash_splash.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>